//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-block;
	color: $white;
	background: $Button;
	border-radius: 5px;
	font-family: 'Poppins';
	font-weight: 500;
	line-height: math.div(30, 20);
	transition: background-color 0.4s ease 0s;
	border: 2px solid transparent;
	@include adaptiveValue('padding-top', 15, 10);
	@include adaptiveValue('padding-bottom', 15, 10);
	@include adaptiveValue('padding-right', 50, 30);
	@include adaptiveValue('padding-left', 50, 30);
	@include adaptiveValue('font-size', 20, 18);
	@media (min-width: $pc) {
		&:hover {
			color: $mainColor;
			background: $white;
			border: 2px solid $Button;
		}
	}
	&__transparent {
		color: $mainColor;
		background: $white;
		border: 2px solid $Button;
		font-weight: 400;
		line-height: math.div(36, 24);
		@include adaptiveValue('font-size', 24, 22);
		@include adaptiveValue('padding-top', 15, 12, 1000, 768, 1);
		@include adaptiveValue('padding-bottom', 15, 12, 1000, 768, 1);
		@include adaptiveValue('padding-right', 55, 40, 1000, 768, 1);
		@include adaptiveValue('padding-left', 55, 40, 1000, 768, 1);
		@media (max-width: $mobile) {
			padding: 12px 45px;
		}
		@media (min-width: $pc) {
			&:hover {
				background: $Button;
				color: $white;
			}
		}
	}
	&__block-text {
		border-radius: 15px;
		font-weight: 600;
		line-height: math.div(54, 36);
		@include adaptiveValue('font-size', 36, 15);
		@include adaptiveValue('padding-top', 32, 20, 1125, 768, 1);
		@include adaptiveValue('padding-bottom', 32, 20, 1125, 768, 1);
		@include adaptiveValue('padding-right', 118, 65, 1125, 768, 1);
		@include adaptiveValue('padding-left', 118, 65, 1125, 768, 1);

		@media (max-width: $mobile) {
			padding: 0px 100px;
			@include adaptiveValue('padding-top', 24, 19);
			@include adaptiveValue('padding-bottom', 24, 19);
		}
	}
	&__price {
		@media (any-hover: hover) {
			&:hover {
				background: $Button;
			}
		}
	}
	&__contacts {	
		@media (max-width:$mobileSmall){
			 width: 100%; 
		}
		border-radius: 10px;
		font-weight: 500;
		line-height: math.div(30, 20);
		@include adaptiveValue('font-size', 20, 18);
		@include adaptiveValue('padding-top',25, 15);
		@include adaptiveValue('padding-bottom', 25, 15);
		@include adaptiveValue('padding-right', 80, 40, 1200, 768, 1);
		@include adaptiveValue('padding-left', 80, 40, 1200, 768, 1);
	}
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
