//<INPUT>
// Снипет (HTML): inp
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	display: block;
	padding: 30px 20px;
	border: 1px solid #8f95a5;
	border-radius: 10px;
	font-family: 'Poppins',sans-serif;
	line-height: math.div(24, 18);
	@include adaptiveValue('font-size', 18, 13);
	@include adaptiveValue('padding-top', 30, 20);
	@include adaptiveValue('padding-bottom', 30, 20);
	@media (max-width: $mobileSmall) {
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}

	&._form-focus {
	}
	&._form-error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
