%ic {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*='_icon-'] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-Lamp:before {
	content: '\e902';
	display: none;
	@media (min-width: 767.98px) {
		display: block;
		font-size: 85px;
	}
	@media (max-width: 1000px) {
		font-size: 70px;
	}
}
