//====================================================================================================

.footer {
	// .footer__container
	&__container {
	}
	.column {
		@media (max-width: $mobile) {
			padding: 5px 0;
		}
	}
	// .footer__content

	&__content {
		padding: 30px 0;
		display: flex;
		align-items: center;
		border-top: 1px solid #c4c4c4;
		@media (max-width: $mobile) {
			display: block;
		}
	}

	// .footer__content-logo

	&__content-logo {
		@media (max-width: $mobile) {
			text-align: center;
		}
	}

	// .footer__content-faq

	&__content-faq {
		display: flex;
		flex: 1 1 auto;
		justify-content: end;
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}
}

.content {
	// .content__faq-item
	&__faq-item {
	}
}
.faq-item {
	// .faq-item__text
	&__text {
		position: relative;
		color: $primaryTextColor;
		font-weight: 400;
		line-height: math.div(36, 24);
		@include adaptiveValue('font-size', 24, 16);
	}

	&:not(:last-child) {
		@include adaptiveValue('margin-right', 25, 15);
		margin-right: 25px;
	}
}

.circle {
	@media (min-width: $mobileSmall) {
		content: '';
		position: absolute;
		top: 45%;
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-left: 7px;
		font-weight: bold;
		border-radius: 50%;
		background: $primaryTextColor;
	}
}

//====================================================================================================
