//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&._header-scroll {
		position: fixed;
		top: -200%;
		background: rgba(0, 0, 0, 0.75);
	}
	&._header-show {
		transition: top 0.5s ease 0s;
		top: 0;
		.menu__link,
		.header__logo a {
				color: $white;
		}
		.menu__link::after {
			background: $white;
		}
	}

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		@include adaptiveValue('min-height', 115, 60);
	}

	// .header__logo

	&__logo {
		flex: 1 0 100px;
	}
	.logo {
		font-weight: 400;
		font-size: 36px;
		line-height: math.div(54, 36);
		@include adaptiveValue('font-size', 36, 30);
	}
	// .header__menu

	&__menu {
		flex: 1 1 auto;
	}

	// .header__button

	&__button {
		flex: 0 0 220px;
		display: flex;
		justify-content: flex-end;
	}
}
.grey {
	color: #939393;
}
.menu {
	display: flex;
	justify-content: center;

	// .menu__listY
	&__list {
		display: flex;
	}

	// .menu__item

	&__item {
		@include adaptiveValue('margin-right', 35, 15, 1200, 800, 1);
	}

	// .menu__link
	// ! Подумать как сделать этот сниппет в scss или шаблон для ссылок
	&__link {
		position: relative;
		color: #263238;
		font-weight: 500;
		font-size: 20px;
		line-height: math.div(30, 20);
		@include adaptiveValue('font-size', 20, 18);

		// ! Подумать как сделать этот сниппет в scss или шаблон для ссылок
		@media (min-width: $mobile) {
			padding: 20px 0;
			&:after {
				content: '';
				position: absolute;
				bottom: 10px;
				left: 0;
				right: 0;
				width: 100%;
				height: 3px;
				transform: scaleX(0);
				background-color: $Button;
				transition: transform 0.3s;
			}
			&:hover {
				&:after {
					transform: scaleX(1);
				}
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(40);
		height: rem(27);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: rem(3);
			background-color: $burger;
			transition: all 0.3s ease 0s;
			border-radius: 1px;
		}
		&::before {
			top: 0;
		}
		&::after {
			width: rem(31.22);
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				display: none;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				width: rem(40);
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
			// Цвет открытого бургера (крестик)
			// &::before,
			// &::after {
			// 	background-color: #000;
			// }
		}
	}
}

/* Описание блока 
	Пример открытия меню слева -> направо 
	Пункты меню черные
 	Подложка меню белая
*/

@media (max-width: $mobile) {
	.header__menu {
		position: fixed;
		overflow: auto;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: $white;
		transition: 0.4s ease 0s;
		z-index: 4;
	}
	.menu-open .header__menu {
		left: 0;
		padding: 0;
		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
	.menu__list {
		position: relative;
		display: inline-block;
		top: 7%;
		li {
			&:not(:last-child) {
				margin: 0px 0px 25px 0px;
			}
		}
		@media (max-width: $mobile) {
			left: -6%;
		}
	}

	.menu__link {
		flex: 1 1 auto;
		color: #000;
		@include adaptiveValue('font-size', 32, 28);
	}
}
