//* GET STARTED==========================================
.get-started {
	// .get-started__container
	@media (max-width: $mobileSmall) {
		@include adaptiveValue('padding-top', 152, 100);
		@include adaptiveValue('padding-bottom', 70, 50);
	}
	@media (min-width: $mobileSmall) {
		@include adaptiveValue('padding-top', 225, 152, 1000, 768, 1);
		@include adaptiveValue('padding-bottom', 100, 70, 1000, 768, 1);
	}

	// .get-started__content

	&__content {
		grid-column: 5 span;
		@media (max-width: $mobile) {
			order: 2;
			grid-column: 12 span;
		}
	}

	// .get-started__block-text

	&__block-text {
		@media (max-width: $mobile) {
			text-align: center;
		}
	}

	// .get-started__image

	&__image {
		grid-column: 6 span;
		svg {
			@media (min-width: $mobile) {
				@include adaptiveValue('width', 600, 353, 1150, 768, 1);
				@include adaptiveValue('height', 485, 278, 1150, 768, 1);
			}
			@media (max-width: $mobile) {
				@include adaptiveValue('height', 485, 423, 768, 574, 1);
			}
			@media (max-width: $mobileSmall) {
				@include adaptiveValue('width', 546, 270, 574, 320, 1);
				@include adaptiveValue('height', 424, 220, 574, 320, 1);
			}
		}
		@media (max-width: $mobile) {
			width: 100%;
			grid-column: 12 span;
			order: 1;
		}
		@media (max-width: $mobileSmall) {
			grid-column: 4 span;
		}
	}
}

.block-text {
	// .block-text__title

	&__title {
		font-weight: 600;
		line-height: math.div(80, 64);
		@include adaptiveValue('font-size', 64, 30, 1100, 768, 1);
		@include adaptiveValue('margin-bottom', 40, 15, 1100, 768, 1);
		@media (min-width: $mobile) {
			display: flex;
			align-items: end;
			max-width: 450px;
		}
	}

	// .block-text__text

	&__text {
		color: $primaryTextColor;
		font-weight: 400;
		font-size: 24px;
		line-height: math.div(36, 24);
		@include adaptiveValue('font-size', 24, 16, 1000, 768, 1);
		@include adaptiveValue('margin-bottom', 60, 15);
	}
}
//* GET END ====================================================================================================

//* Skills STARTED==========================================
.skills {
	// .skills__container

	&__container {
	}

	// .skills__title

	&__title {
		@include adaptiveValue('margin-bottom', 70, 30);
	}

	// .skills__content

	&__content {
	}

	// .skills__cards

	&__cards {
	}

	// .skills__cards-items

	&__cards-items {
		grid-template-rows: repeat(32, 13px);
		gap: 13px;
	}
}

.cards {
	// .cards__skills

	&__skills {
	}
}
.cards-items {
	// .cards-items__item
	&__item {
		background: $bg;

		&:first-child {
			@media (min-width: $tablet) {
				grid-row: 33 span;
			}
			@media (max-width: $tablet) {
				grid-row: 27 span;
			}
		}
		&:last-child {
			grid-row: 12 span;
			.cards-items__content {
				@media (min-width: $tablet) {
					display: flex;
				}
				& .item__inner {
					max-width: 350px;
				}
			}

			@media (min-width: $tablet) {
				grid-column: 8 span;
			}
		}
		@media (max-width: $mobile) {
			grid-column: 12 span;
			grid-row: 18 span;
		}
		@media (min-width: $mobile) {
			grid-column: 6 span;
			grid-row: 21 span;
		}
		@media (min-width: $tablet) {
			grid-column: 4 span;
			grid-row: 21 span;
		}
	}

	&__content {
		@include adaptiveValue('padding-top', 30, 15);
		@include adaptiveValue('padding-bottom', 30, 15);
		@include adaptiveValue('padding-right', 40, 20);
		@include adaptiveValue('padding-left', 40, 20);
	}
}
.item {
	// .item__image
	&__image {
		svg {
			max-width: 100%;
		}
	}
	&__image.people {
		@media (min-width: $tablet) {
			@include adaptiveValue('margin-bottom', 50, 40);
		}
		svg {
			width: 350px;
			height: 310px;
		}
	}
	&__image.typewriter {
		text-align-last: right;
		svg {
			width: 260px;
			height: 230px;
		}
	}

	&__image.library {
		svg {
			width: 280px;
			height: 230px;
		}
	}
	&__image.music {
		order: 2;
		svg {
			width: 360px;
			height: 210px;
		}
	}

	&__inner {
	}
	// .item__title

	&__title {
		font-weight: 600;
		line-height: math.div(80, 30);
		@include adaptiveValue('font-size', 30, 18);
	}

	// .item__text

	&__text {
		color: $primaryTextColor;
		font-weight: 400;
		line-height: math.div(24, 16);
		@include adaptiveValue('font-size', 16, 13);
		@include adaptiveValue('margin-bottom', 25, 33);
		p {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
}
//* skills END==========================================

//* About STARTED==========================================
.about {
	// .about__container
	@include adaptiveValue('padding-top', 180, 80);
	@include adaptiveValue('padding-bottom', 250, 80);

	&__container {
	}

	// .about__content

	&__content {
	}

	// .about__row

	&__row {
		@media (max-width: $mobile) {
			display: grid;
			.about__column-info {
				order: 2;
			}
			.about__column-img {
				text-align: center;
			}
		}
	}

	// .about__item-info

	&__item-info {
	}

	// .about__image

	&__image {
		flex: 1 1 500px;
		svg {
			width: 500px;
			@include adaptiveValue('height', 500, 280);
		}
		@media (max-width: $mobile) {
		}
	}

	// .about__svg

	&__svg {
	}
}
.item-info {
	// .item-info__title

	&__title {
		@include adaptiveValue('margin-bottom', 20, 10);
	}

	// .item-info__text

	&__text {
		@include adaptiveValue('margin-bottom', 40, 20);
	}

	// .item-info__numbers

	&__numbers {
	}
	@media (max-width: $mobile) {
		order: 1;
	}
}

.info-numbers {
	// .info-numbers__items
	&__items {
	}
}
.numbers-items {
	@media (min-width: $mobileSmall) {
		display: flex;
		justify-content: space-between;
	}
}
.numbers-item {
	flex: 1 1 100%;

	// .numbers-item__digit
	&__digit {
		color: $number;
		text-align: center;
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				@include adaptiveValue('margin-bottom', 50, 40);
			}
		}
	}
}
//* About END ==========================================

//* Price STARTED==========================================

.price {
	// .price__container

	&__container {
	}

	// .price__title

	&__title {
	}

	// .price__content

	&__content {
	}

	// .price__row

	&__row {
	}

	// .price__column

	&__column {
		display: flex;
		@media (max-width: $tablet) {
			flex: 1 1 50%;
		}
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			justify-content: center;
			text-align: center;
		}
	}

	// .price__column-item

	&__column-item {
		display: flex;
		flex-direction: column;
	}
}

.price-item {
	// .price-item__svg
	svg {
		max-width: 100%;
	}
	&__svg {
		@include adaptiveValue('margin-bottom', 40, 20);
		&.price__svg-1 {
			svg {
				width: 280px;
				height: 280px;
			}
		}
		&.price__svg-2 {
			svg {
				width: 380px;
				height: 280px;
			}
		}
		&.price__svg-3 {
			svg {
				width: 320px;
				height: 280px;
			}
		}
	}

	// .price-item__title

	&__title {
		@include adaptiveValue('margin-bottom', 20, 15);
	}

	// .price-item__text

	&__text {
		flex: 1 1 auto;
		@include adaptiveValue('margin-bottom', 20, 10);
	}

	// .price-item__subscription

	&__subscription {
	}
}
.title-price {
}

.item-subscription {
	// .item-subscription__price
	@media (min-width: $mobile) {
		max-width: 260px;
	}
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
	padding: 10px 20px;
	background: $priceBG;
	border-radius: 5px;
	transition: background-color 0.4s ease 0s;
	&__price {
		color: $bold;
		margin-right: 10px;
		font-weight: 400;
		line-height: math.div(45, 30);
		@include adaptiveValue('font-size', 30, 18);
	}
	// .item-subscription__month

	&__month {
		color: $perMonth;
		font-weight: 400;
		line-height: math.div(27, 18);
		@include adaptiveValue('font-size', 18, 14);
	}
	@media (any-hover: hover) {
		&:hover {
			color: $white;
			.item-subscription__price {
				color: $white;
			}
			.item-subscription__month {
				color: $white;
			}
		}
	}
}

//* Price END ==========================================

//* Contacts STARTED==========================================

.contacts {
	// .contacts__container
	@include adaptiveValue('padding-top', 230, 100);
	@include adaptiveValue('padding-bottom', 130, 100);
	&__container {
	}

	// .contacts__content

	&__content {
		display: flex;
	}

	// .contacts__row

	&__row {
	}

	// .contacts__column

	&__column {
		@media (max-width: $tablet) {
			flex: 1 1 100%;
		}
	}

	// .contacts__svg-1

	&__svg-1 {
		@media (max-width: $tablet) {
			text-align: center;
		}
		svg {
			width: 450px;
			height: 400px;
		}
	}
}

.contacts-item {
	// .contacts-item__email

	&__email {
	}
}
.email-item {
	// .email-item__title
	&__title {
		@include adaptiveValue('margin-bottom', 40, 20);
	}

	// .email-item__text

	&__text {
		@include adaptiveValue('margin-bottom', 50, 30);
	}

	// .email-item__form

	&__form {
		@media (min-width: $mobileSmall) {
			display: flex;
		}
	}
}

.input {
	@media (min-width: $tablet) {
		margin-right: 12px;
	}
}

//* Contacts END ==========================================
