//* GET STARTED==========================================
.get-started {
	// .get-started__container
	@media (max-width: $mobileSmall) {
		@include adaptiveValue('padding-top', 152, 100);
		@include adaptiveValue('padding-bottom', 70, 50);
	}
	@media (min-width: $mobileSmall) {
		@include adaptiveValue('padding-top', 225, 152, 1000, 768, 1);
		@include adaptiveValue('padding-bottom', 100, 70, 1000, 768, 1);
	}

	// .get-started__content

	&__content {
		grid-column: 5 span;
		@media (max-width: $mobile) {
			order: 2;
			grid-column: 12 span;
		}
	}

	// .get-started__block-text

	&__block-text {
		@media (max-width: $mobile) {
			text-align: center;
		}
	}

	// .get-started__image

	&__image {
		grid-column: 6 span;
		svg {
			@media (min-width: $mobile) {
				@include adaptiveValue('width', 600, 353, 1150, 768, 1);
				@include adaptiveValue('height', 485, 278, 1150, 768, 1);
			}
			@media (max-width: $mobile) {
				@include adaptiveValue('height', 485, 423, 768, 574, 1);
			}
			@media (max-width: $mobileSmall) {
				@include adaptiveValue('width', 546, 270, 574, 320, 1);
				@include adaptiveValue('height', 424, 220, 574, 320, 1);
			}
		}
		@media (max-width: $mobile) {
			width: 100%;
			grid-column: 12 span;
			order: 1;
		}
		@media (max-width: $mobileSmall) {
			grid-column: 4 span;
		}
	}
}

.block-text {
	// .block-text__title

	&__title {
		font-weight: 600;
		line-height: math.div(80, 64);
		@include adaptiveValue('font-size', 64, 30, 1100, 768, 1);
		@include adaptiveValue('margin-bottom', 40, 15, 1100, 768, 1);
		@media (min-width: $mobile) {
			display: flex;
			align-items: end;
			max-width: 450px;
		}
	}

	// .block-text__text

	&__text {
		color: $primaryTextColor;
		font-weight: 400;
		font-size: 24px;
		line-height: math.div(36, 24);
		@include adaptiveValue('font-size', 24, 16, 1000, 768, 1);
		@include adaptiveValue('margin-bottom', 60, 15);
	}
}

//====================================================================================================

//* skills STARTED==========================================
.skills {
	// .skills__container

	&__container {
	}

	// .skills__title

	&__title {
		@include adaptiveValue('margin-bottom', 90, 30);
	}

	// .skills__content

	&__content {
	}

	// .skills__cards

	&__cards {
	}

	// .skills__cards-items

	&__cards-items {
		grid-template-rows: repeat(32, 13px);
		gap: 13px;
	}
}

.cards {
	// .cards__skills

	&__skills {
	}
}
.cards-items {
	// .cards-items__item
	&__item {
		background: $bg;

		&:first-child {
			@media (min-width: $tablet) {
				grid-row: 33 span;
			}
			@media (max-width: $tablet) {
				grid-row: 27 span;
			}
		}
		&:last-child {
			grid-row: 12 span;
			.cards-items__content {
				@media (min-width: $tablet) {
					display: flex;
				}
				& .item__inner {
					max-width: 350px;
				}
			}

			@media (min-width: $tablet) {
				grid-column: 8 span;
			}
		}
		@media (max-width: $mobile) {
			grid-column: 12 span;
			grid-row: 18 span;
		}
		@media (min-width: $mobile) {
			grid-column: 6 span;
			grid-row: 21 span;
		}
		@media (min-width: $tablet) {
			grid-column: 4 span;
			grid-row: 21 span;
		}
	}

	&__content {
		@include adaptiveValue('padding-top', 30, 15);
		@include adaptiveValue('padding-bottom', 30, 15);
		@include adaptiveValue('padding-right', 40, 20);
		@include adaptiveValue('padding-left', 40, 20);
	}
}
.item {
	// .item__image
	&__image {
		svg {
			max-width: 100%;
		}
	}
	&__image.people {
		@media (min-width: $tablet) {
			@include adaptiveValue('margin-bottom', 50, 40);
		}
		svg {
			width: 350px;
			height: 310px;
		}
	}
	&__image.typewriter {
		text-align-last: right;
		svg {
			width: 260px;
			height: 230px;
		}
	}

	&__image.library {
		svg {
			width: 280px;
			height: 230px;
		}
	}
	&__image.music {
		order: 2;
		svg {
			width: 360px;
			height: 210px;
		}
	}

	&__inner {
	}
	// .item__title

	&__title {
		font-weight: 600;
		line-height: math.div(80, 30);
		@include adaptiveValue('font-size', 30, 18);
	}

	// .item__text

	&__text {
		color: $primaryTextColor;
		font-weight: 400;
		line-height: math.div(24, 16);
		@include adaptiveValue('font-size', 16, 13);
		@include adaptiveValue('margin-bottom', 25, 33);
		p {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
}
.button {
}
